<header class="page-header">
  <h1>Admin &raquo; Dashboard</h1>
</header>
<table class="table table-success table-striped-columns">
  <tr>
    <th>Number of Categories</th>
    <th>Number of Products</th>
  </tr>
  <tr>
    <td><%= @category_count %></td>
    <td><%= @product_count%></td>
  </tr>
</table>
<p>View <%= link_to "Products", [:admin, :products] %></p>